<html>
  <head>
    <title>Design - S-Din</title>
    <link rel="stylesheet" href="/static/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/static/css/design.css">
  </head>
  <body>
    <!-- Toolbar -->
    <div class="ui fixed menu">
      <div class="ui container">
        <span class="item">
          <i class="large undo link icon"></i>
          <i class="large repeat link icon"></i>
          <i id="open-fav-win" class="large star link icon"></i>
          <i class="large folder open outline link icon"></i>
          <i class="large save link icon"></i>
          <i class="large external share link icon"></i>
          <i class="large share alternate link icon"></i>
        </span>
        <span class="item">
          <i id="drag-item" class="large mouse pointer link icon"></i>
          <i id="drag-canvas" class="large hand paper link icon"></i>
          <i id="zoom-in" class="large zoom link icon"></i>
          <i id="zoom-out" class="large zoom out link icon"></i>
          <div class="ui compact floating selection dropdown" id="ratio-dropdown">
            <i class="dropdown icon"></i>
            <div class="default text">Ratio</div>
            <div class="menu">
              <div class="item" data-value="0.25">25%</div>
              <div class="item" data-value="0.5">50%</div>
              <div class="item" data-value="0.75">75%</div>
              <div class="item" data-value="1.0">100%</div>
              <div class="item" data-value="1.25">125%</div>
              <div class="item" data-value="1.5">150%</div>
            </div>
          </div>
        </span>
        <span class="item">
          <i class="large bullseye link icon"></i>
          <i class="large long arrow right link icon"></i>
        </span>
        <div class="right menu">
          <span class="item">
            <i class="large user outline link icon" id="signin-button"></i>
          </span>
          <span class="item">
            <i class="large help circle outline link icon"></i>
          </span>
        </div>
      </div>
    </div>

    <!-- Main canvas -->
    <div id="canvas-box">
      <div id="canvas"></div>
    </div>

    <!-- Part panel (right) -->
    <div id="part-panel-dropper"></div>
    <div id="part-panel" class="window">
      <div class="nav">
        <h5 class="ui header">元件</h5>
        <i id="part-panel-button" class="link icon angle double right"></i>
      </div>
      <div class="content">
        <div id="search-part" class="ui fluid search selection dropdown">
          请输入元件编号
          <i class="dropdown icon"></i>
        </div>
        <div class="tab-context">
          <div class="ui top attached tabular menu">
            <div class="active item" data-tab="src-tab">元件来源通路</div>
          </div>
          <div id="part-src-seg" class="ui bottom attached active tab segment" data-tab="src-tab">
            <div class="ui centered fluid image">
              <img src="/static/img/design/circuit.png" alt="">
            </div>
            <div id="part-src-divider" class="ui divider"></div>
            <a id="part-src-more" href="/detail">查看详细信息</a>
          </div>
        </div>
        <div class="tab-context">
          <div class="ui top attached tabular menu">
            <div class="active item" data-tab="info-tab">元件信息</div>
            <div class="item" data-tab="func-tab">功能</div>
          </div>
          <div class="ui bottom attached active tab segment" data-tab="info-tab">
            <img class="ui centered tiny image" src="/static/img/design/RBS.png" alt="">
            <h5 class="ui center aligned header">元件名称</h5>
            <div class="ui divider"></div>
            <div id="part-info-des">
              <p>Adipisicing soluta laboriosam consequatur lorem exercitationem Sequi labore explicabo eius nisi possimus Aperiam quisquam tenetur quos sit ex? Eum quibusdam magnam quam iure ipsa unde sit? Earum error tempora amet assumenda eum perspiciatis. Earum porro maxime ad nostrum doloribus Eius.</p>
            </div>
          </div>
          <div class="ui bottom attached tab segment" data-tab="func-tab"></div>
        </div>
      </div>
    </div>

    <!-- Favourite window (floating) -->
    <div id="fav-win" class="window">
      <div class="nav">
        <h5 class="ui header">收藏夹</h5>
        <i id="fav-win-button" class="link icon remove"></i>
      </div>
      <div class="content">
        <div class="ui segment">
          <div class="ui grid">
            <div class="ten wide column">
              <h5 class="ui header">Name: Dolor, Time: Ipsum</h5>
              <div class="ui fluid image">
                <img src="/static/img/design/circuit.png" alt="">
              </div>
            </div>
            <div class="six wide column">
              <p>Consectetur ipsa incidunt consequuntur.</p>
            </div>
          </div>
        </div>
        <div class="ui segment">
          <div class="ui grid">
            <div class="ten wide column">
              <h5 class="ui header">Name: Dolor, Time: Ipsum</h5>
              <div class="ui fluid image">
                <img src="/static/img/design/circuit.png" alt="">
              </div>
            </div>
            <div class="six wide column">
              <p>Consectetur ipsa incidunt consequuntur.</p>
            </div>
          </div>
        </div>
        <div class="ui segment">
          <div class="ui grid">
            <div class="ten wide column">
              <h5 class="ui header">Name: Dolor, Time: Ipsum</h5>
              <div class="ui fluid image">
                <img src="/static/img/design/circuit.png" alt="">
              </div>
            </div>
            <div class="six wide column">
              <p>Consectetur ipsa incidunt consequuntur.</p>
            </div>
          </div>
        </div>
        <div class="ui segment">
          <div class="ui grid">
            <div class="ten wide column">
              <h5 class="ui header">Name: Dolor, Time: Ipsum</h5>
              <div class="ui fluid image">
                <img src="/static/img/design/circuit.png" alt="">
              </div>
            </div>
            <div class="six wide column">
              <p>Consectetur ipsa incidunt consequuntur.</p>
            </div>
          </div>
        </div>
        <div class="ui segment">
          <div class="ui grid">
            <div class="ten wide column">
              <h5 class="ui header">Name: Dolor, Time: Ipsum</h5>
              <div class="ui fluid image">
                <img src="/static/img/design/circuit.png" alt="">
              </div>
            </div>
            <div class="six wide column">
              <p>Consectetur ipsa incidunt consequuntur.</p>
            </div>
          </div>
        </div>
        <div class="ui segment">
          <div class="ui grid">
            <div class="ten wide column">
              <h5 class="ui header">Name: Dolor, Time: Ipsum</h5>
              <div class="ui fluid image">
                <img src="/static/img/design/circuit.png" alt="">
              </div>
            </div>
            <div class="six wide column">
              <p>Consectetur ipsa incidunt consequuntur.</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Toolbox -->
    <div id="toolbox">
      <i class="inverted plus link icon"></i>
      <i class="inverted trash link icon"></i>
      <i class="inverted external link icon"></i>
      <i class="inverted superpowers link icon"></i>
    </div>

    {% include "login-modal.html" %}
  </body>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery-ui/jquery-ui.min.js"></script>
  <script src="/static/js/jquery.mousewheel.min.js"></script>
  <script src="/static/semantic/dist/semantic.min.js"></script>
  <script src="/static/semantic/dist/components/tab.min.js"></script>
  <script src="/static/js/jsplumb.js"></script>
  <script src="/static/js/design.js"></script>
  <script src="/static/js/canvas.js"></script>
  <script src="/static/js/login.js"></script>
</html>
