<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Search - S-Din</title>
    <link rel="stylesheet" href="/static/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/static/semantic/dist/components/icon.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/index.css">
  </head>
  <body>
    {% include "nav.html" %}
    <div class="ui main container">
      <div class="ui left aligned container" id="logo-search-box">
        <div class="ui middle aligned grid">
          <div class="two wide column">
            <img class="ui tiny image" src="./static/img/logo.png" alt="S-Din">
          </div>
          <div class="fourteen wide column">
            <div class="ui form">
              <div class="ui fluid icon input" id="search-box">
                <input type="text" id="search-edit" placeholder="Search for projects...">
                <i class="search icon" id="search-icon"></i>
              </div>
              <div id="dimmer"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  {% include "login-modal.html" %}

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/semantic/dist/semantic.js"></script>
  <script src="/static/js/index.js"></script>
  <script src="/static/js/login.js"></script>
</html>
