<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Search - S-Din</title>
    <link rel="stylesheet" href="/static/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/static/semantic/dist/components/icon.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/index.css">
  </head>
  <body>
    {% include "nav.html" %}

    {% include 'search-box.html' %}
    <link rel="stylesheet" href="/static/css/search-box.css">

    <div class="footer">
      <div class="left menu">
        <a>Terms of use</a>
        <a>Biosafety</a>
        <a>Cookie & Privacy</a>
        <a>About us</a>
      </div>
      <div class="right menu">
        <img src="/static/img/index/facebook.png" alt="">
        <img src="/static/img/index/twitter.png" alt="">
        <img src="/static/img/index/googleplus.png" alt="">
        <img src="/static/img/index/youtube.png" alt="">
        <img src="/static/img/index/in.png" alt="">
        <img src="/static/img/index/mail.png" alt="">
      </div>
    </div>

  </body>

  {% include "login-modal.html" %}

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/semantic/dist/semantic.js"></script>
  <script src="/static/js/login.js"></script>
  <script src="/static/js/search-box.js"></script>
  <script src="/static/js/index.js"></script>
</html>
