<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Search - S-Din</title>
    <link rel="stylesheet" href="./static/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="./static/semantic/dist/components/icon.min.css">
    <link rel="stylesheet" href="./static/css/custom.css">
    <style>
.ui.inverted.menu {
  background: transparent;
}
.ui.main.container {
  margin-top: 6em;
}
body {
  background-image: url("./static/img/index-back.jpg");
  background-size: cover;
}
#logo-search-box {
  width: 70%;
}
#search-icon {
  pointer-events: auto;
  cursor: pointer;
}
#button-group {
  margin: 0;
}
#register-button {
  text-align: left;
}
#signup-button {
  text-align: right;
}
#dimmer {
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  left: 0!important;
  top: 0!important;
  position: fixed;
  z-index: -500;
  transition: background 0.3s linear;
}
#search-box {
  z-index: 501;
}
    </style>
  </head>
  <body>
    <div class="ui inverted menu">
      <div class="ui container">
        <a class="item" href="#">S-Din</a>
        <div class="right menu">
          <a class="item" href="#">
            Design
          </a>
          {% if request.user.is_authenticated %}
          <span class="item">{{ request.user.email }}</span>
          {% else %}
          <a class="item" id="signin-button" v-on:click="show_signin_modal">
            <i class="user outline icon"></i>
            Sign In
          </a>
          {% endif %}
          <a class="item">
            <i class="sidebar icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="ui main center aligned container">
      <div class="ui left aligned container" id="logo-search-box">
        <div class="ui middle aligned grid">
          <div class="two wide column">
            <img class="ui tiny image" src="./static/img/logo.png" alt="S-Din">
          </div>
          <div class="fourteen wide column">
            <div class="ui form">
              <div class="ui fluid icon input" id="search-box">
                <input type="text" id="search-edit" placeholder="Search for projects..." v-model="search_text">
                <i class="search icon" id="search-icon" v-on:click="search"></i>
              </div>
              <div id="dimmer"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <!-- Login Modal -->
  <div class="ui tiny modal" id="signin-modal">
    <div class="header">
      Sign In
    </div>
    <div class="content">
      <div class="ui center aligned container">
        <form class="ui form" id="login-form" method="POST" action="/index">
          {% csrf_token %}
          <div class="field">
            <input type="text" id="email" name="email" placeholder="Email">
          </div>
          <div class="field">
            <input type="password" id="password" name="password" placeholder="Password">
          </div>
          <div class="ui {% if messages %}visible {% endif %}error message">
            {% if messages %}
            <ul class="list">
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </form>
        <br/><a>Forgot password?</a>
      </div>
    </div>
    <div class="ui two bottom attached big buttons" id="button-group">
      <div class="ui left button" id="register-button" v-on:click="go_register">Register</div>
      <div class="ui secondary button"id="signup-button" v-on:click="go_signin">Sign in</div>
    </div>
  </div>

  <script src="./static/js/jquery.min.js"></script>
  <script src="./static/semantic/dist/semantic.js"></script>
  <script src="./static/js/vue.js"></script>
  <script>
$('#login-form')
  .form({
    fields: {
      email: ['email', 'empty'],
      password: ['empty']
    }
  })
;

var search_icon = new Vue({
  el: '#search-box',
  data: {
    search_text: ''
  },
  methods: {
    search: function (event) {
      // alert('Search clicked. Content: ' + this.search_text);
      window.location.href = "/search";
    }
  }
});

var signin_button = new Vue({
  el: '#signin-button',
  methods: {
    show_signin_modal: function (event) {
      $('#signin-modal').modal('show');
    }
  }
});

var button_group = new Vue({
  el: '#button-group',
  methods: {
    go_register: function (event) {
      window.location.href = "/register";
    },
    go_signin: function (event) {
      $('#login-form').form('submit');
    }
  }
});

$('#search-edit')
  .on('focus', function() {
    $('#dimmer').css({
      background: 'rgba(0, 0, 0, 0.5)',
      zIndex: 500
    })
  });
$('#search-edit')
  .blur(function() {
    $('#dimmer').css({
      background: 'rgba(0, 0, 0, 0)',
      zIndex: -500
  })
});
  </script>
</html>
