<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Interest - S-Din</title>
    <link rel="stylesheet" href="/static/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/static/semantic/dist/components/icon.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/interest.css">
  </head>
  <body>
    <div class="ui menu">
      <div class="ui container">
        <div class="ui right menu">
          <a class="item" id="index-button">
            Complete
            <i class="angle right icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="ui main center aligned container">
      <h2 class="ui header">Please select the content you are interested in.</h2>
      <div class="interests"></div>
      <div class="ui grid">
      <div class="four wide column">
        <a class="ui mygreen header" id="reset">Reset</a>
      </div>
      <div class="four wide right floated column">
        <a class="ui mygreen header" id="more">More content</a>
      </div>
      </div>
    </div>
  </body>

  <script src="./static/js/jquery.min.js"></script>
  <script src="./static/semantic/dist/semantic.js"></script>
  <script src="/static/js/interest.js"></script>
</html>
