<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Register - S-Din</title>
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <link rel="stylesheet" href="/static/css/fontsize.css">
    <link rel="stylesheet" href="/static/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/static/semantic/dist/components/icon.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/register.css">
  </head>
  <body>
    <div class="ui menu">
      <div class="ui container">
        <a class="item" id="index-button" href="/">
          <i class="angle left icon"></i>
          BACK TO HOME SCREEN
        </a>
      </div>
    </div>
    <div class="ui main center aligned container">

    </div>
  </body>

  <div class="ui active tiny modal" id="register-modal">
    <div class="header">
      Register
    </div>
    <div class="content">
      <div class="ui center aligned container">
        <form class="ui form" action="/register" method="POST">
          {% csrf_token %}
          <div class="field">
            <input type="text" id="email" name="email" placeholder="Email">
          </div>
          <div class="field">
            <input type="password" id="password" name="password" placeholder="Password">
          </div>
          <div class="field">
            <input type="password" id="password2"  placeholder="Confirm password">
          </div>
          <div class="field">
            <input type="text" id="org" name="org" placeholder="Organization / Team">
          </div>
          <div class="field">
            <input type="text" id="igem" name="igem" placeholder="iGEM Account Email">
          </div>
          <div class="ui {% if messages %}visible {% endif %}error message">
            {% if messages %}
            <ul class="list">
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </form>
        <br/>
        <p class="small">If you register an account or log in S-Din, it indicates that you agree <a id="policy">our policies</a>.</p>
      </div>
    </div>
      <div class="ui one bottom attached big buttons" id="button-group">
        <div class="ui submit secondary button"id="next-button">Next</div>
      </div>
  </div>

  <div class="ui tiny modal" id="policy-modal">
    <div class="content">
      <p><b>Welcome to S-Din!</b> S-Din is open and free for everyone who is interested in synthetic biology.</p>
      <p>You should register a free account and log in if you want to use the whole functions of S-Din. Please attention that when you log in S-Din, we may collect and use some of your information. If your operation on S-Din is considered against biosafety rules, you may be warned. We guarantee that your privacy will be well protected, and won’t be rumoured deliberately. See <a href="http://2017.igem.org/Team:SYSU-Software/statements.html">Terms & Conditions</a> for more details.</p>
    </div>
    <div class="ui bottom attached big buttons">
      <div class="ui ok button" id="cancel">OK</div>
    </div>
  </div>

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/semantic/dist/semantic.js"></script>
  <script src="/static/js/register.js"></script>
</html>
