    <div id="search-box-container">
      <div id="logo">
          <a href="/">
            <img class="ui fluid image" src="/static/img/logo.png" alt="S-Din">
          </a>
      </div>
      <div id="search-box">
        <div class="ui form">
          <div class="field">
            <div class="ui fluid icon input">
              <input id="search-edit" type="text" placeholder="Search for projects...">
              <i id="search-icon" class="search icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="search-page-dimmer"></div>
