
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Interlab - Wiki - 2017 SYSU-Software</title>
    <link rel="stylesheet" href="/static/semantic/dist/semantic.min.css">
    <style>
.ui.main.container {
  margin-top: 6em;
  margin-bottom: 6em;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 3em;
  border-radius: 15px;
}
body {
  background-image: url("/static/img/index-back.jpg");
  background-size: cover;
  background-attachment: fixed;
}
html {
  font-size: 18px;
}
p, li {
  font-size: 1rem;
}
li {
  line-height: 1.5rem;
}
.img-container {
  width: 100%;
  text-align: center;
  padding-bottom: 1em;
}
img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.ui.segment {
  background-color: transparent;
}
    </style>
  </head>
  <body>
    <div class="ui main container">
      <h1 class="ui center aligned header">Interlab</h1>
      <h3 class="ui center aligned header">2017 SYSU-Software</h3>
      <div class="ui divider"></div>
      <p>Experimenter: Milk</p>
      <div class="img-container">
      <img src="/static/img/wiki/interlab0.png">
      </div>
      <h2 class="ui header">Overview</h2>
      <p>We are proud to be part of the interlab study. Although we are a Software Team, this never separate us from experiments and never extinguish our passions for contributing our efforts for iGEM and Synthetic biology community. </p>
      <p>This year, Interlab study provide detailed protocol to eliminate as much difference as they can, and find a way to make OD/FI measurement conducted by different machine comparable. </p>
      <h2 class="ui header">Experiment design</h2>
      <p>Eight different plasmids, Positive Control (BBa_I20270), Negative Control (BBa_R0040), Device 1 (BBa_J364000), Device 2 (BBa_J364001), Device 3 (BBa_J364002), Device 4 (BBa_J364003), Device 5 (BBa_J364004), Device 6 (BBa_J364005) were transformed into Escherichia coli DH5α, which were inoculated on LB plate with chloramphenicol (cmr). After an overnight cultivation, single colonies was picked to keep cultivating. After 6 hours cultivation, Colony PCR was conducted to test if the plasmids were transformed successfully. And the colonies were moved into liquid cultures (LB medium) and cultivated overnight. Liquid cultures were diluted with LB medium until the value of OD<sub>600</sub> reached 0.02. Then we took out 500 μL samples from the cultures every 2 hour (t=0, 2, 4, 6h). At last, we measured OD<sub>600</sub> and fluorescence of all samples.</p>
      <h2 class="ui header">Materials and Methods</h2>
      <h3 class="ui header">Growth Conditions</h3>
      <p>The bacteria were cultivated in Lysogeny Broth(LB) plate with chloramphenicol added when doing transformation. The plates were kept at 37°C. Colonies we picked were grown in 5ml LB medium with chloramphenicol. Afterwards, they were kept at 37°C and 220 rpm shaking frequency. We used 5ml LB medium and chloramphenicol to target OD<sub>600</sub> of 0.02.</p>
      <h3 class="ui header">Strains & Devices Transformed</h3>
      <p>We used Escherichia coli strain DH5α cells for transformation. Three devices and two controls are all provided by iGEM HQ as follows:</p>
      <ul>
        <li>Positive Control (BBa_I20270)</li>
        <li>Negative Control (BBa_R0040)</li>
        <li>Device 1 (BBa_J364000)</li>
        <li>Device 2 (BBa_J364001)</li>
        <li>Device 3 (BBa_J364002)</li>
        <li>Device 4 (BBa_J364003)</li>
        <li>Device 5 (BBa_J364004)</li>
        <li>Device 6 (BBa_J364005)</li>
      </ul>
      <h3 class="ui header">Colony PCR & Gel electrophoresis</h3>
      <p>Primer designed by choose 15bp on VF2 primer site & VR primer site. PCR conducted by standard procedure. Gel electrophoresis were conducted after PCR, with standard procedure. Gel photo was captured by UV imagery system provided by SYSU school of life science.</p>
      <div class="img-container">
        <img src="/static/img/wiki/interlab1.png">
      </div>
      <div class="img-container">
        <img src="/static/img/wiki/interlab2.png">
      </div>
      <h3 class="ui header">Generating FITC Fluorescence Standard Curve by Using Plate Reader</h3>
      <p>We have used 96-well plates to do the plate reader’s measurement. A serial dilution was performed to generate a FITC fluorescence standard curve. When measuring fluorescence, the excitation wavelength we set was 480nm(9), and emission wavelength was set at 535nm(20).</p>
      <h3 class="ui header">Using LUDOX-S40 as A Single Point Reference</h3>
      <p>We used LUDOX-S40 to transform our absorbance data into standard OD<sub>600</sub> measurement. Volumes of LUDOX was 100μl. We prepared a column of 4 wells containing 100 μl LUDOX and 4 wells containing water. The samples were measured using plate reader.</p>
      <h3 class="ui header">Measuring Fluorescence & OD<sub>600</sub> by Using Plate Reader</h3>
      <p>Colonies with devices tested by us were picked from the plates, then were cultured overnight in 5ml LB medium with chloramphenicol. The liquid cultures were diluted to target OD<sub>600</sub>=0.02. The fluorescence and OD<sub>600</sub> of samples at 0,2,4, 6 hours were measured by using 96-well plate. The volumes of samples were 100 μl LB medium with chloramphenicol were used as blank</p>
      <h2 class="ui header">Result</h2>
      <div class="img-container">
        <img src="../static/img/wiki/interlab3.png">
        <p>Fig 1. Fluorescein Standard Curve</p>
      </div>
      <h3 class="ui header">OD<sub>600</sub></h3>
      <p>This value represents the concentration of bacteria in the medium. Due to the amount of the samples, the 0h phare failed to synchronize at the same value, and at this point the bacteria might already enter log phase. (Fig 2.)</p>
      <div class="img-container">
        <img src="../static/img/wiki/interlab4.png">
        <p>Fig 2. OD<sub>600</sub> Measurement</p>
      </div>
      <h3 class="ui header">Fluorescein</h3>
      <p>The results are shown in the graph. The fluorescein level of Negative control, Device 1, 3, 5, 6 reach peak at the very beginning and then decrease remarkably in the next 2 hours. The positive control and Device 4 increase quit a lot at 2h but also decrease afterward. The Device 2 increase in a peace pace. (Fig 3.)</p>
      <div class="img-container">
        <img src="../static/img/wiki/interlab5.png">
        <p>Fig 3. Fluorescence Measurement</p>
      </div>
      <div class="img-container">
        <img src="../static/img/wiki/interlab6.png">
        <p>Fig 4. μM Fluorescein / OD<sub>600</sub></p>
      </div>
      <div class="ui divider"></div>
      <h3 class="ui header">Attribution</h3>
      <p>All our experiments were conducted in the professor Lu’s laboratory in School of life science, Sun Yat-sen University. They provided everything we need and answered every one of our doubts patiently. Here we present our appreciation.</p>
    </div>
  </body>

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/semantic/dist/semantic.js"></script>
  <script>
  </script>
</html>
