.ui.inverted.fixed.menu {
  background-image: url(/static/img/search/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: transparent;
}
#result-segment {
  background: rgba(255, 255, 255, 0);
  border-radius: 0;
}
#search-type-menu {
  border-width: 0;
  margin-bottom: 0;
}
#search-type-menu .item {
  transition: all 0.1s ease;
}
#search-type-menu > .active.item {
  border-color: #ffd405;
}
#result-container {
  margin-left: 10.5rem;
  margin-top: 1rem;
  width: 44rem;
  position: absolute;
}
div.line {
  margin-top: 1rem;
  margin-bottom: 0;
  color: white;
  font-size: 1rem;
}
.ui.text.menu {
  margin: 0;
}
.ui.label {
  border: 1px solid rgba(34, 36, 38, 0.15);
}
#result-span {
  margin-left: 1ex;
  margin-right: 2.5rem;
}
#result-list {
  margin-top: 0.5rem;
}
body {
  background-image: url("/static/img/search/back.jpg");
  background-size: cover;
  background-attachment: fixed;
}
#result-box {
  background: white;
}
.ui.items:last-child {
  margin-bottom: 1rem !important;
}
.ui.items>.item {
  padding: 1rem;
  height: 10rem;
  background: white;
  position: relative;
}
.ui.items>.item>.image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 10rem !important;
}
.ui.items>.item>.content {
  position: relative;
  font-size: 1rem;
}
.ui.items>.item>.content>.ui.header {
  color: #333333;
  font-size: 1.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 25rem;
  margin-top: 0;
}
.ui.items>.item>.content>.ui.header:hover {
  white-space: normal;
}
.ui.items>.item>.content>.ui.header>span.smaller {
  font-size: 1.25rem;
}
.ui.items>.item>.content>.description {
  margin-top: 0;
}
a {
  cursor: pointer;
}
a {
  color: #ffd800;
}
#right-panel {
  position: absolute;
  background-color: white;
}
.no-result {
  color: white;
  font-size: 1.25rem;
}
.no-result h5.ui.header {
  font-size: 1em;
  color: white;
  margin-bottom: 0.2rem;
}
.no-result p {
  margin-bottom: 0.2rem;
}