<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Search parts - S-Din</title>

    <link rel="stylesheet" href="/static/css/fontsize.css">
    <link rel="stylesheet" href="/static/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/static/semantic/dist/components/icon.min.css">
    <link rel="stylesheet" href="/static/semantic/dist/components/menu.min.css">
    <link rel="stylesheet" href="/static/semantic/dist/components/popup.min.css">
    <link rel="stylesheet" href="/static/css/search/part.css">
  </head>
  <body>
    {% include '../nav.html' %}

    {% include '../search-box.html' %}
    <link rel="stylesheet" href="/static/css/search-box.css">

    <div id="result-container">
      <div id="search-type-menu" class="ui secondary pointing inverted menu">
        <a class="item" href="/search/work?q={{ request.GET.q }}">Project</a>
        <a class="active item">Parts</a>
        <a class="item" href="/search/paper?q={{ request.GET.q }}">Paper</a>
      </div>
      <div class="line">
        <code>{{ resultsCount }}</code><span id="result-span">RESULTS</span>
      </div>
      {% if resultsCount == 0 %}
      <div class="no-result">
        <p>No results found for <b>{{ request.GET.q }}</b>.</p>
        <h5 class="ui header">Search tips:</h5>
        <p>Ensure words are spelled correctly.</p>
        <p>Try rephrasing keywords or using synonyms.</p>
        <p>Try less specific keywords.</p>
        <p>Make your queries as concise as possible.</p>
        <h5 class="ui header">Other resources that may help you:</h5>
        <p>Get additional search tips by visiting <a>Web Search Help</a>.</p>
        <p>If you cannot find a page that you know exists, <a>send the address to us</a>.</p>
      </div>
      {% endif %}
      <div id="result-list">
        <div class="ui items">
          {% for part in parts %}
          <div class="link item">
            <div class="image">
              <img src="/static/img/design/{{ part.type | lower }}.png" alt="">
              <div class="ui divider"></div>
              <p>{{ part.releaseStatus }}</p>
              <div class="ui divider"></div>
              <p>{{ part.sampleStatus }}</p>
              <div class="ui divider"></div>
              <p>{{ part.partResult }}</p>
              <div class="ui divider"></div>
            </div>
            <div class="content">
              <a class="ui header" href="/part?id={{ part.id }}">Part: {{ part.name }} | <span class="smaller">{{ part.group }}</span></a>
              <div class="meta">{{ part.type }}, {{ part.safety }}</div>
              <div class="medal">
                {{ part.rating }} Registry Star
              </div>
              <div class="description">
                <p>{{ part.description }}</p>
              </div>
              <p class="chassis">{{ part.use }}</p>
              <a class="rewards" workid="{{ work.id }}" href="#">Parameters</a>
              <div workid="{{ work.id }}" class="ui flowing popup transition hidden">
                <ul class="ui list">
                {% for reward in work.rewards %}
                  <li>{{ reward }}</li>
                {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div id="right-panel">
    </div>
  </body>

  {% include "../login-modal.html" %}

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/semantic/dist/semantic.js"></script>
  <script src="/static/semantic/dist/components/popup.min.js"></script>
  <script src="/static/js/search-box.js"></script>
  <script src="/static/js/search/part.js"></script>
  <script src="/static/js/login.js"></script>
</html>
