<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{{ request.GET.q }} - Search parts - S-Din</title>
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <link rel="stylesheet" href="/static/css/fontsize.css">
    <link rel="stylesheet" href="/static/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/static/semantic/dist/components/icon.min.css">
    <link rel="stylesheet" href="/static/semantic/dist/components/menu.min.css">
    <link rel="stylesheet" href="/static/semantic/dist/components/popup.min.css">
    <link rel="stylesheet" href="/static/css/search/part.css">
  </head>
  <body>
    {% include '../nav.html' %}

    {% include '../search-box.html' %}
    <input type="text" value="{{ request.GET.q }}" id="search-word" hidden>
    <link rel="stylesheet" href="/static/css/search-box.css">

    <div id="tool-container">
      <div id="search-type-menu" class="ui secondary pointing inverted menu">
        <a class="item" href="/search/work?q={{ request.GET.q }}">Project</a>
        <a class="active item">Parts</a>
        <a class="item" href="/search/paper?q={{ request.GET.q }}">Paper</a>
      </div>
      {% if resultsCount != 0 %}
      <div class="line">
        <code>{{ resultsCount }}</code><span id="result-span">RESULTS</span>
      </div>
      {% endif %}
    </div>
    <div id="result-container">
      {% if resultsCount == 0 %}
      <div class="no-result">
        <p>No results found for <b>{{ request.GET.q }}</b>.</p>
        <h5 class="ui header">Search tips:</h5>
        <p>Ensure words are spelled correctly.</p>
        <p>Try rephrasing keywords or using synonyms.</p>
        <p>Try less specific keywords.</p>
        <p>Make your queries as concise as possible.</p>
        <h5 class="ui header">Other resources that may help you:</h5>
        <p>Get additional search tips by visiting <a>Web Search Help</a>.</p>
        <p>If you cannot find a page that you know exists, <a>send the address to us</a>.</p>
      </div>
      {% endif %}
      <div id="result-list">
        <div class="ui items">
          {% for part in parts %}
          <div class="link item">
            <div class="image">
              <img src="/static/img/design/{{ part.type | lower }}.png" alt="">
              <p>{{ part.type }}</p>
              <div class="details">
                <p>{{ part.releaseStatus }}</p>
                <div class="ui divider"></div>
                <p>{{ part.sampleStatus }}</p>
              </div>
            </div>
            <div class="content">
              <a class="ui header" target="igem-part" href="http://parts.igem.org/Part:{{ part.name }}">{{ part.name }}</a>
              <div class="meta">{{ part.group }}{% if part.partResult and part.partResult != 'None' %} {{ part.partResult }}{% endif %}</div>
              <div class="medal">
                {{ part.rating }} Registry Star
              </div>
              <div class="collect">
                <i bba="{{ part.id }}" class="{% if not part.isFavorite %}empty {% endif %}star icon"></i>
              </div>
              <div class="description">
                <p>{{ part.description }}</p>
              </div>
            </div>
            <p class="chassis">{{ part.use }}</p>
            <p class="rewards">{{ part.safety }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div id="right-panel-container">
      {% if keywords %}
      <div class="right-panel">
        <div class="header">
          <h3 class="ui header">Keyword relations</h3>
        </div>
        <div class="content">
          <div class="chart-box">
            <svg></svg>
          </div>
        </div>
        <input type="text" id="keyword-data", value="{{ keywords }}" hidden>
      </div>
      {% endif %}

      {% if additional.yearRelation and additional.yearRelation != '' %}
      <div class="right-panel">
        <div class="header">
          <h3 class="ui header">Year relations</h3>
        </div>
        <div class="content">
          <div class="chart-box">
            <canvas id="year-chart"></canvas>
          </div>
        </div>
        <input type="text" id="year-chart-data" value="{{ additional.yearRelation }}" hidden>
      </div>
      {% endif %}

      {% if additional.name and additional.name != '' %}
      <div class="right-panel">
        <div class="header">
          <h3 class="ui header">{{ additional.name }}</h3>
        </div>
        <div class="content">
          {% if additional.picture != 'None' %}
          <img class="wiki-pic" src="{{ additional.picture }}" alt="">
          {% endif %}
          <p>{{ additional.description }}</p>
          <a href="{{ additional.link }}">More...</a>
        </div>
      </div>
      {% endif %}

      {% if additional.trackRelation and additional.trackRelation != '' %}
      <div class="right-panel">
        <div class="header">
          <h3 class="ui header">Track relations</h3>
        </div>
        <div class="content">
          <div class="chart-box">
            <canvas id="track-chart"></canvas>
          </div>
        </div>
        <input type="text" id="track-chart-data" value="{{ additional.trackRelation }}" hidden>
      </div>
      {% endif %}

      {% if additional.medalRelation and additional.medalRelation != '' %}
      <div class="right-panel">
        <div class="header">
          <h3 class="ui header">Medal relations</h3>
        </div>
        <div class="content">
          <div class="chart-box">
            <canvas id="medal-chart" width="300" height="300"></canvas>
          </div>
        </div>
        <input type="text" id="medal-chart-data" value="{{ additional.medalRelation }}" hidden>
      </div>
      {% endif %}
    </div>
  </body>

  {% include "../login-modal.html" %}

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/semantic/dist/semantic.js"></script>
  <script src="/static/semantic/dist/components/popup.min.js"></script>
  <script src="/static/js/d3.min.js"></script>
  <script src="/static/js/Chart.min.js"></script>
  <script src="/static/js/search-box.js"></script>
  <script src="/static/js/search/part.js"></script>
  <script src="/static/js/login.js"></script>
</html>
