<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Search result - S-Din</title>

    <link rel="stylesheet" href="/static/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/static/semantic/dist/components/icon.min.css">
    <link rel="stylesheet" href="/static/semantic/dist/components/menu.min.css">
    <link rel="stylesheet" href="/static/semantic/dist/components/popup.min.css">
    <link rel="stylesheet" href="/static/css/search/work.css">
  </head>
  <body>
    {% include '../nav.html' %}

    {% include '../search-box.html' %}
    <link rel="stylesheet" href="/static/css/search-box.css">

    <div id="result-container">
      <div id="search-type-menu" class="ui secondary pointing inverted menu">
        <a class="active item">Project</a>
        <a class="item" href="/search/part?q={{ request.GET.q }}">Parts</a>
        <a class="item" href="/search/paper?q={{ request.GET.q }}">Paper</a>
      </div>
      <div class="line" id="also-try">
        Also try: <a>food</a>, <a>foood</a>, <a>fooood</a>
      </div>
      <div class="line">
        <code>{{ resultsCount }}</code><span id="result-span">RESULTS</span>
        <a id="tool">Search Tools<i class="filter icon"></i></a>
        <div id="tool-popup" class="ui flowing popup transition hidden">
          <p>Chasis</p>
          <div class="ui labels">
            <a class="ui basic label">E.coli</a>
          </div>
          <div class="ui divider"></div>
          <p>Medal</p>
          <div class="ui labels">
            <a class="ui basic label">Gold</a>
            <a class="ui basic label">Silver</a>
            <a class="ui basic label">Bronze</a>
            <a class="ui basic label">Best Rewards</a>
          </div>
          <div class="ui divider"></div>
          <p>Track</p>
          <div class="ui labels">
            <a class="ui basic label">Health & Medicine</a>
            <a class="ui basic label">Energy</a>
            <a class="ui basic label">Environment</a>
            <a class="ui basic label">Food & Nutrition</a>
          </div>
          <div class="ui divider"></div>
          <div class="ui submit button">Apply</div>
        </div>
      </div>
      <div id="result-list">
        <div class="ui items">
          {% for work in works %}
          <div class="link item">
            <div class="image" style="background-image: url('/{{ work.image }}')"></div>
            <div class="content">
              <a class="ui header" href="/work?id={{ work.id }}">{{ work.year }}-{{ work.projectName }}| <span class="smaller">{{ work.school }}</span></a>
              <img class="medal" src="/static/img/search/{{ work.medal }}.png" alt="{{ work.medal }}">
              <div class="description">
                <p>{{ work.description }}</p>
              </div>
              <p class="chassis">{{ work.chassis }}</p>
              <a class="rewards" workid="{{ work.id }}" href="#">Rewards</a>
              <div workid="{{ work.id }}" class="ui flowing popup transition hidden">
                <ul class="ui list">
                {% for reward in work.rewards %}
                  <li>{{ reward }}</li>
                {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div id="right-panel">
    </div>
  </body>

  {% include "../login-modal.html" %}

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/semantic/dist/semantic.js"></script>
  <script src="/static/semantic/dist/components/popup.min.js"></script>
  <script src="/static/js/search-box.js"></script>
  <script src="/static/js/search/work.js"></script>
  <script src="/static/js/login.js"></script>
</html>
