/* Link Styles */
a  {
  cursor: pointer;
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  z-index: 0;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  outline: none;
}
a > code {
  background-color: rgba(0, 50, 100, 0.08);
}
a:before {
  position: absolute;
  top: auto;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #009fda;
  content: '';
  -webkit-transition: all 0.2s;
  -webkit-backface-visibility: hidden;
  transition: all 0.2s;
  backface-visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

/* Not on UI */
a.ui:before {
  display: none;
}

/* Hover */
a:hover > code {
  background-color: rgba(0, 50, 100, 0.12);
}
a:hover:before,
a:focus:before {
  background-color: #009fda;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.footer.segment {
  margin: 2em 0em;
  padding: 2em 0em;
}
.ui.menu > .container {
  margin: .5em 0em;
}
