.window {
  position: absolute;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #e0e0e0;
}
.window>.nav, .window>.content {
  width: 100%;
  padding: 1em;
}
.window>.nav {
  height: 3em;
  border-bottom: 1px solid;
}
.window>.nav>i {
  position: absolute;
  top: 1em;
  right: 1em;
}
.window>.content {
  height: 100%;
}

/* Part panel */
#part-panel {
  width: 300px;
  top: 60px;
  right: 20px;
}
#part-info-des {
  max-height: 150px;
  overflow-y: auto;
}

/* Favourite window */
#fav-win>.content {
  max-height: calc(100% - 4em);
  overflow-y: auto;
}
#fav-win {
  width: 400px;
  top: 200px;
  right: 400px;
  max-height: 600px;
}
#fav-win>.content>.ui.segment {
}

/* Toolbox */
#toolbox {
  border: 2px solid #ffd578;
  background-color: #f5f5f5;
}
#toolbox>.nav {
  height: 1em;
  padding: 1px;
  background-color: #ffd578;
  border-bottom: 0;
}
#toolbox>.nav>i {
  left: 0;
  top: 0;
  color: white;
}
#toolbox>.content {
  padding: 0.5em;
}
#toolbox>.content>i {
  margin-right: 0;
}
#toolbox>.content>.ui.divider {
  margin: 0.5rem 0;
}

body {
  overflow: hidden;
}
div.ui.fixed.menu>div.ui.container {
  margin-left: 3em !important;
  margin-right: 3em !important;
  width: 100%;
}
.item>a>i {
  color: black;
  width: 1.5em;
}

#canvas-box {
  width: 100%;
  height: 100%;
  padding-top: 3em;
  transition: all 0.2s ease;
}
#canvas {
  width: 100%;
  height: 100%;
  background-color: white;
}
#part-src-seg {
  padding-bottom: calc(14px + 1em + 4px);
}
#part-src-divider {
  margin-bottom: 4px;
}
#part-src-more {
  float: right;
}

.ui-resizable-handle {
  position: absolute;
}
.ui-resizable-w {
  cursor: w-resize;
  height: 100%;
  width: 1em;
  top: 0;
  left: 0;
}
.ui-resizable-s {
  cursor: s-resize;
  height: 1em;
  width: 100%;
  bottom: 0;
  left: 0;
}
.ui-resizable-sw {
  cursor: sw-resize;
  height: 1em;
  width: 1em;
  bottom: 0;
  left: 0;
}
