.window {
  position: absolute;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #edf3fa;
  z-index: 10;
}
.window>.nav, .window>.content {
  width: 100%;
}
.window>.nav {
  padding: 0.5em;
  height: 2em;
  border-bottom: 1px solid;
}
.window>.nav>i {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
.window>.content {
  padding: 1em;
  height: 100%;
}

/* Part panel */
#part-panel {
  width: 300px;
  top: 100px;
  right: 20px;
}
#part-info-des {
  max-height: 150px;
  overflow-y: auto;
}
.ui.tabular.menu>.item {
  background-color: #c6daec;
  cursor: pointer;
}
.ui.tabular.menu>.item:not(.active):hover {
  background-color: #b6cadc;
}
.tab-context {
  margin-top: 1em;
}
#part-panel-dropper {
  position: absolute;
  right: 0;
  height: 100%;
  width: 100px;
  top: 0;
  background-color: transparent;
}

/* Favourite window */
#fav-win>.content {
  max-height: calc(100% - 3em);
  overflow-y: auto;
}
#fav-win {
  width: 400px;
  top: 200px;
  right: 400px;
  max-height: 600px;
}
#fav-win>.content>.ui.segment {
}

/* Toolbox */
#toolbox {
  background-color: #f5f5f5;
  position: absolute;
  border-radius: 10px;
  background-color: #404040;
  z-index: 15;
  padding: 1em 2em;
  opacity: 0.3;
  transition: opacity 0.2s ease, left 0.2s ease;
}
#toolbox>i {
  margin: 0 0.1em;
  font-size: 3em;
  line-height: 1;
}

body {
  overflow: hidden;
}
div.ui.fixed.menu {
  background-color: #e2e7ea;
}
div.ui.fixed.menu>div.ui.container {
  margin-left: 3em !important;
  margin-right: 3em !important;
  width: 100%;
}
.item>i.icon {
  margin: 0 0.25em !important;
}
div.ui.fixed.menu>div.container>.item>div.ui.dropdown {
  margin-left: 0.25em;
}

#canvas-box {
  width: 100%;
  height: 100%;
  padding-top: 4.5em;
  transition: all 0.2s ease;
}
#canvas {
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
}

.device {
  position: absolute;
  transition: box-shadow 0.2s ease;
  background-color: white;
  cursor: pointer;
}
.device>.bone {
  position: absolute;
  height: 3px;
  background-color: #efefef;
  bottom: 1em;
}
.part {
  position: absolute;
  transition: box-shadow 0.2s ease;
  text-align: center;
  cursor: pointer;
}

#part-src-seg {
  padding-bottom: calc(14px + 1em + 4px);
}
#part-src-divider {
  margin-bottom: 4px;
}
#part-src-more {
  float: right;
}

.ui-resizable-handle {
  position: absolute;
}
.ui-resizable-w {
  cursor: w-resize;
  height: 100%;
  width: 1em;
  top: 0;
  left: 0;
}
.ui-resizable-s {
  cursor: s-resize;
  height: 1em;
  width: 100%;
  bottom: 0;
  left: 0;
}
.ui-resizable-sw {
  cursor: sw-resize;
  height: 1em;
  width: 1em;
  bottom: 0;
  left: 0;
}

/* SVG Path Stroke */
.promotion-connection>path {
  stroke: blue;
  fill: blue;
}
.inhibition-connection>path {
  stroke: red;
  fill: red;
}
.preview-connection>path {
  stroke-dasharray: 5, 5;
}
