.window {
  position: absolute;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #edf3fa;
  z-index: 10;
}
.window>.nav, .window>.content {
  width: 100%;
}
.window>.nav {
  padding: 0.5rem;
  height: 2rem;
  border-bottom: 1px solid;
}
.window>.nav>i {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1rem;
  line-height: 1rem;
}
.window>.content {
  padding: 1rem;
  height: 100%;
}

/* Part panel */
#part-panel {
  width: 300px;
  top: 100px;
  right: 20px;
  font-size: 1rem;
}
#part-info-des {
  max-height: 150px;
  overflow-y: auto;
}
.ui.tabular.menu>.item {
  background-color: #c6daec;
  cursor: pointer;
}
.ui.tabular.menu>.item:not(.active):hover {
  background-color: #b6cadc;
}
.tab-context {
  margin-top: 1rem;
}
#part-panel-dropper {
  position: absolute;
  right: 0;
  height: 100%;
  width: 100px;
  top: 0;
  background-color: transparent;
}

/* Favourite window */
#fav-win>.content {
  max-height: calc(100% - 3rem);
  overflow-y: auto;
}
#fav-win {
  width: 400px;
  top: 200px;
  right: 400px;
  max-height: 600px;
}
#fav-win>.content>.ui.segment>.combine-circuit-button {
  background-color: #eee;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  border-radius: 50%;
  cursor: pointer;
  line-height: 2rem;
  text-align: center;
}
#fav-win>.content>.ui.segment>.combine-circuit-button>i {
  margin-right: 0;
  pointer-event: none;
}
#fav-win>.content>.ui.segment p {
  margin: 0;
}

/* Toolbox */
#toolbox {
  background-color: #f5f5f5;
  position: absolute;
  border-radius: 10px;
  background-color: #404040;
  z-index: 15;
  padding: 1rem 2rem;
  opacity: 0.3;
  transition: opacity 0.2s ease, left 0.2s ease;
}
#toolbox>i {
  margin: 0 0.1rem;
  font-size: 3rem;
  line-height: 1;
}

body {
  overflow: hidden;
}
div.ui.fixed.menu {
  background-color: #e2e7ea;
}
div.ui.fixed.menu>div.ui.container {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
  width: 100%;
}
.item>i.icon {
  margin: 0 0.25rem !important;
}
div.ui.fixed.menu>div.container>.item>div.ui.dropdown {
  margin-left: 0.25rem;
}

#canvas-box {
  font-size: 1rem;
  width: 100%;
  height: 100%;
  padding-top: 4.5rem;
  transition: all 0.2s ease;
}
.canvas {
  background-color: white;
  position: relative;
  overflow: hidden;
}
#canvas {
  width: 100%;
  height: 100%;
}

#part-src-seg {
  padding-bottom: calc(14px + 1rem + 4px);
  max-height: 240px;
  overflow-y: auto;
  overflow-x: hidden;
}
#part-src-divider {
  margin-bottom: 4px;
}
#part-src-more {
  float: right;
}

.ui-resizable-handle {
  position: absolute;
}
.ui-resizable-w {
  cursor: w-resize;
  height: 100%;
  width: 1rem;
  top: 0;
  left: 0;
}
.ui-resizable-s {
  cursor: s-resize;
  height: 1rem;
  width: 100%;
  bottom: 0;
  left: 0;
}
.ui-resizable-sw {
  cursor: sw-resize;
  height: 1rem;
  width: 1rem;
  bottom: 0;
  left: 0;
}

div.part-helper {
  border: 1px solid black;
  background-color: white;
  width: 100px;
  text-align: center;
  opacity: 0.7;
}
div.part-helper>div.ui.image>img {
  width: 100%;
  height: auto;
}

