.ui.inverted.menu {
  background: transparent;
}
#search-box-container {
  margin-top: 12em !important;
}
body {
  background-image: url("/static/img/index/back.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow-y: hidden;
}
div.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: black;
  z-index: 2;
}
div.footer > div.left.menu {
  line-height: 4rem;
  height: 100%;
}
div.footer > div.left.menu > a {
  margin-left: 5rem;
  font-size: 1.25rem;
  color: white;
}
div.footer > div.right.menu {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  line-height: 4rem;
}
div.footer > div.right.menu a {
  /* line-height: 100%; */
  vertical-align: middle;
  margin-right: 1rem;
}
div.footer > div.right.menu img {
  vertical-align: middle;
  height: 2rem;
  width: 2rem;
}

@keyframes meteor-right {
    0%        { right: -7.5em; }
    50%, 100% { right: 100%;   }
}

@keyframes meteor-top {
    0%        { top: -3em; }
    50%, 100% { top: 100%; }
}

#meteor {
  width: 7.5rem;
  height: 4rem;
  position: absolute;
  animation-name: meteor-right, meteor-top;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.47, 0, 0.75, 0.72);
}