.ui.inverted.menu {
  background: transparent;
}
#search-box-container {
  margin-top: 250px !important;
}
body {
  background-image: url("/static/img/index-back.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow-y: hidden;
}
