.ui.inverted.menu {
  background: transparent;
}
#search-box-container {
  margin-top: 12em !important;
}
body {
  background-image: url("/static/img/index/back.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow-y: hidden;
}
div.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4em;
  background-color: black;
  z-index: 2;
}
div.footer > div.left.menu {
  line-height: 4em;
  height: 100%;
}
div.footer > div.left.menu > a {
  margin-left: 5em;
  font-size: 1.25em;
  color: white;
}
div.footer > div.right.menu {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  line-height: 4em;
}
div.footer > div.right.menu a {
  /* line-height: 100%; */
  vertical-align: middle;
  margin-right: 1em;
}
div.footer > div.right.menu img {
  vertical-align: middle;
  height: 2em;
  width: 2em;
}
