#index-button {
  border: 0;
}
body {
  overflow: hidden;
}
.ui.center.aligned.container {
  margin-top: 6rem;
}
body {
  background-color: white;
}
#register-modal {
  top: auto;
}
#button-group {
  margin: 0;
}
#next-button {
  text-align: right;
}
.interests {
  height: 55%;
  margin: 1rem;
  padding: 5rem;
  position: relative;
}
.interest {
  background-color: #1ac785;
  color: white;
  position: absolute;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  transition: all 0.2s ease-out, left 1s linear, top 1s linear;
  text-align: center;
  vertical-align: middle;
  line-height: 7rem;
  cursor: pointer;
  transform: scale(1.0, 1.0);
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.7);
  font-size: 1rem;
}
.interest-hover {
  transform: scale(1.2, 1.2);
}
.interest-chosen {
  box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.7);
}
a {
  cursor: pointer;
}
.mygreen {
  color: #258955 !important;
}
