#keyword-modal {
  background-color: black !important;
}
.node, .node--leaf {
  cursor: pointer;
  fill: url(#exampleGradient);
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.label {
  font: 1.25rem 'Source Hans Pro';
  fill: #fff;
  text-anchor: middle;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}