.ui.inverted.menu {
  background-image: url(/static/img/detail-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: transparent;
  z-index: 10;
}
#info-bar>.ui.container>.item {
  border-left: none;
}
#info-bar>.ui.container>.item:before {
  width: 0;
}
#info-bar>.ui.container>.item>h4 {
  padding-left: 1em;
  padding-right: 1em;
}
#index-button {
  border: 0;
}
.ui.main.container {
  margin-top: 6em;
}
body {
  background-image: url("/static/img/detail-back.jpg");
  background-size: contain;
  background-attachment: fixed;
}
#detail-container {
  position: absolute;
  margin-left: 2em;
  margin-top: 20;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 20px;
  background-color: white;
  width: 1084px;
}
#detail-container>.back-icon {
  position: absolute;
  top: 10px;
  left: 36px;
}
#detail-container>.back {
  margin-left: 38px;
  font-size: 25px;
  color: #6b6969;
  margin-top: 17.5px;
  margin-bottom: 17.5px;
  cursor: pointer;
}
#detail-container>.title {
  margin-left: 38px;
  font-size: 40px;
  color: #333333;
  font-weight: 500;
  line-height: 1em;
  margin-bottom: 20px;
}
#detail-container>.doi {
  margin-left: 38px;
  line-height: 1em;
  font-size: 25px;
  color: #6b6969;
  margin-bottom: 20px;
}
#detail-container>.jif {
  position: absolute;
  right: 74px;
  font-size: 25px;
  color: #333333;
}
#detail-container>.abstract {
  width: 930px;
  margin-left: 38px;
  margin-bottom: 20px;
  line-height: 1em;
  font-size: 25px;
  color: #333333;
}
#detail-container>.keywords {
  margin-left: 38px;
  margin-right: 38px;
  margin-bottom: 20px;
  line-height: 1em;
  font-size: 20px;
}
#part-container {
  width: 1004px;
  height: 348px;
  background-color: #f8f8f8;
}
#part-container>.part-canvas {
  width: 563px;
  height: 280px;
  border: blue solid 1px;
  background-color: white;
  display: inline-block;
  margin: 10px;
  overflow: hidden;
  position: relative;
}
#part-container>.part-table {
  width: 362px;
  height: 273px;
  display: inline-block;
  margin: 10px;
  overflow-y: auto;
}
#part-container>.part-table>table th,tr {
  text-align: center;
}
#part-container>.part-table>table th {
  font-size: 20px;
  color: #807d7d;
  font-weight: 500;
  padding: 0;
}
#part-container>.part-table>table tr {
  font-size: 18px;
  color: #333333;
  height: 44px;
}
#part-container>.part-table>table td {
  padding: 0;
}
#right-panel {
  position: absolute;
  background-color: white;
}
div.ui.page.dimmer img {
  max-width: 90vw;
  max-height: 90vh;
}
