.ui.menu {
  background: transparent;
  border: 0;
  box-shadow: none;
}
#index-button {
  border: 0;
}
.ui.main.container {
  margin-top: 6em;
}
body {
  background-image: url("/static/img/login-back.jpg");
  background-size: cover;
}
#register-modal {
  z-index: 0;
  top: auto !important;
}
#button-group {
  margin: 0;
}
#next-button {
  text-align: center;
}
p.small {
  font-size: 0.75rem;
}
#policy {
  cursor: pointer;
}