#search-box-container {
  margin-left: 2em;
  margin-top: 5em;
  position: relative;
  z-index: 501;
}
#logo {
  width: 50px;
  position: absolute;
}
#search-box {
  width: 876px;
  position: absolute;
}
#search-edit  {
  border-radius: 0;
  border: 0;
}
#search-icon {
  pointer-events: auto;
  cursor: pointer;
}
#search-page-dimmer {
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  left: 0!important;
  top: 0!important;
  position: fixed;
  z-index: -500;
  transition: background 0.2s ease;
}
